/* Universal Styles */

.html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.main-content {
    position: relative;
    top: 4rem;
}

.button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
  }

.image-container {
    overflow: hidden;
}

.image-container img {
    display: block;
    max-width: 100%;
  }

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

/* Header */

header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
}

header .content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: darkgray;
    font-size: 1 rem;
    text-decoration: none;
}

header .desktop {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

header strong {
    font-weight: bold;
}

        /* Vertical align image inside an anchor with CSS - https://stackoverflow.com/questions/20700475/vertical-align-image-inside-an-anchor-with-css */
.logo img {
    margin: auto;
    vertical-align: middle; 
    display: inline-block;
}

header nav ul {
    display: flex;
    list-style: none;
}

header li {
    margin-left: 1rem;  
}

header .mobile {
    display: none;
}

/* Mobile Header */

@media only screen and (max-width: 620px) {

    header .desktop {
        display: none;
    }

    header .mobile {
        display: flex;
    }

    header .mobile ul{
        height: 4rem;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
}

/* Everyday Section */

.everyday {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgray;
}

.everyday .image-container {
    width: 60%;
    margin: 2rem 1.5rem;
}

.everyday p {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.everyday .button {
    color: white;
    background-color: darkgrey;
    padding: 8px 72px;
    align-self: center;
}

.everyday .text-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
    width: 30%;
}

/* Mobile Everyday */

@media only screen and (max-width: 620px) {

    .everyday {
        flex-direction: column;
    }

    .everyday .image-container {
        width: 100%;
        margin: 0;
    }

    .everyday .text-container {
        width: 90%;
    }

}






