/* Universal Styles */

.html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    
}

.main-content {
    position: relative;
    top: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: darkgrey;
    color: white;
  }

.image-container {
    overflow: hidden;
}

.image-container img, video {
    display: block;
    max-width: 100%;
  }

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h1, h2, h3 {
    font-weight: bold;
}

p {
    font-size: 0.9rem;
    color: rgb(77, 77, 77);
}

/* Header */

header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

header a {
    color: black;
    text-decoration: none;
  }

header .content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: darkgray;
    font-size: 1rem;
    text-decoration: none;
}

header .desktop {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

header strong {
    font-weight: bold;
}

        /* Vertical align image inside an anchor with CSS - https://stackoverflow.com/questions/20700475/vertical-align-image-inside-an-anchor-with-css */
.logo img {
    margin: auto;
    vertical-align: middle; 
    display: inline-block;
}

header nav ul {
    display: flex;
    list-style: none;
}

header li {
    margin-left: 1rem;  
}

header .mobile {
    display: none;
}

/* Mobile Header */

@media only screen and (max-width: 620px) {

    header .desktop {
        display: none;
    }

    header .mobile {
        display: flex;
    }

    header .mobile ul{
        height: 4rem;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
}

/* Everyday Section */

.everyday {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(220, 220, 220);
   
}

.everyday .image-container {
    width: 60%;
    margin: 2rem 1.5rem;
}

.everyday p {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.everyday .button {
    background-color: darkgrey;
    padding: 0.5rem 4.5rem;
    align-self: center;
  
}

.everyday a {
    color: white;
    text-decoration: none;
}

.everyday .text-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
    width: 40%;
}

/* Mobile Everyday */

@media only screen and (max-width: 620px) {

    .everyday {
        flex-direction: column;
    }

    .everyday .image-container {
        width: 100%;
        margin: 0;
    }

    .everyday .text-container {
        width: 90%;
    }

}

/* Practicing Section */

.practice {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.practice .mobile {
    display: none;
}

.practice .left {
    width: 60%;
    margin: 2rem 1.5rem;
}

.practice .right {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    margin-top: 1rem;
}

.practice .right .image-container {
    width: 35%;
    margin: 1rem;
}

.practice .right .text-container {
    width: 65%;
}

.practice .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.practice a {
    color: blue;
    text-decoration: none;
    font-size: 0.9rem;
}

.practice h2 {
    padding: 2.25rem 0rem 1.5rem 0rem;
}

.practice figcaption {
    padding: 2rem 0rem;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

.practice p {
    padding: 0.5rem 0rem;
}

.guest {
    background-color: rgb(220, 220, 220);
}

/* Mobile Practice */

@media only screen and (max-width: 620px) {

    .practice .left {
        display: none;
    }

    .practice .desktop {
        display: none;
    }

    .practice .mobile {
        display: block;
    }

    .practice .right {
        width: 100%;
    }

    .practice .content {
        flex-direction: column;
    }

    .practice .right .image-container {
        width: 90%;
        margin: 2rem;
    }
    
    .practice .right .text-container {
        width: 90%;
        margin: 0rem 2rem;
    }

    .guest {
        background-color: white;
    }
}

/* Learning Section */

.learning {
    background-color: rgb(220, 220, 220);
}

.learning .title {
    padding-top: 2rem;
    text-align: center;
}

.learning .courses {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1.5rem;
    justify-content: center;
}

.learning .content {
    box-sizing: border-box;
    width: 30%;
    margin: 0.5rem;
    background-color: white;
}

.learning .text-container {
    padding: 1rem;
}

.learning h4 {
    padding: 0.5rem 0rem;
}

/* Mobile Learning */

@media only screen and (max-width: 620px) {

    .learning {
        background-color: white;
    }
    
    .learning .image-container, .learning h4, .learning p {
        display: none;
    }

    .learning .courses {
        flex-direction: column;
    }

    .learning .text-container {
        background-color: rgb(220, 220, 220);
    }

    .learning .content {
        width: 100%;
    }
}

/* Thesis Section */

.thesis .title {
    padding-top: 2rem;
    text-align: center;
}

.thesis .container {
    display: flex;
    justify-content: flex-start;
}

.thesis .left {
    width: 60%;
    margin: 2rem 1.5rem;
}

.thesis .right {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    margin-top: 1rem;
}

.thesis .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.thesis .content .image-container {
    width: 35%;
    margin: 1rem;
}

.thesis .content .text-container {
    width: 65%;
}


/* Footer */

footer {
    margin: 50px 24px;
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: flex;
    list-style: none;
}

footer li {
    padding-left: 1rem;
}

footer a {
    text-decoration: none;
    color: black;
}
