/* Fonts

    font-family: 'Lato', sans-serif;

    font-family: 'Merriweather Sans', sans-serif;

    font-family: 'Open Sans', sans-serif;


/* Universal Styles */

html {
    font-size: 16px;
    color: rgb(77, 77, 77);
}

.main-content {
    position: relative;
    top: 4rem;
    font-family: 'Lato', sans-serif;
}

.button {
    background-color: darkgrey;
    color: white;
  }

.image-container {
    overflow: hidden;
}

.image-container img, video {
    display: block;
    max-width: 100%;
  }

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

h1, h2, h3 {
    font-weight: bold;
}

h4 {
    font-weight: 300;
}

p {
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.4;
}

/* Header */

header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

header a {
    color: black;
    text-decoration: none;
  }

header .logo {
    font-size: 1.5rem;
}

header .content {
    font-family: Lato;
    background-color: white;
    color: darkgray;
    font-size: 1rem;
    text-decoration: none;
}

header .desktop {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

header strong {
    font-weight: bold;
}

header span {
    font-weight: 100;
}

        /* Vertical align image inside an anchor with CSS - https://stackoverflow.com/questions/20700475/vertical-align-image-inside-an-anchor-with-css */
.logo img {
    margin: auto;
    vertical-align: middle; 
    display: inline-block;
}

header nav ul {
    display: flex;
    list-style: none;
}

header li {
    margin-left: 1rem;  
}

header .mobile {
    display: none;
}

header img:hover {
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
}

header a:hover {
    color: #2098D1;
}

/* Mobile Header */

@media only screen and (max-width: 680px) {

    header .desktop {
        display: none;
    }

    header .mobile {
        display: flex;
    }

    header .mobile ul{
        height: 4rem;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
}

/* Everyday Section */

.everyday {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(220, 220, 220);
}

.everyday .left {
    width: 60%;
    margin: 2rem;
}

.everyday p {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.everyday .button {
    background-color: darkgrey;
    align-self: center;
}

.everyday a {
    color: white;
    text-decoration: none;
    width: 16rem;
    height: 2rem;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
}

.everyday .right {
    width: 40%;
}

.everyday .text-container {
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
}

/* Mobile Everyday */

@media only screen and (max-width: 680px) {

    .everyday {
        flex-direction: column;
    }

    .everyday .left {
        width: 100%;
        margin: 0
    }

    .everyday .right {
        width: 100%;
    }

    .everyday .text-container {
        margin: 2rem 1.5rem;
    }
}

/* Practicing Section */

.practice {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.practice .mobile {
    display: none;
}

.practice .left {
    width: 60%;
    margin: 2rem;
}

.practice .right {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    margin-top: 2rem;
}

.practice .right .image-container {
    width: 35%;
    margin: 1rem;
}

.practice .right .text-container {
    width: 65%;
    margin-right: 1.5rem;
}

.practice .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.practice a {
    color: #2098D1;
    text-decoration: none;
    font-size: 0.9rem;
}

.practice h2 {
    padding: 2rem 0 1.5rem 0;
}

.practice figcaption {
    padding: 2rem 0 0;
    font-size: 0.9rem;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

.practice blockquote {
    font-weight: 300;
}

.practice p {
    padding: 0.5rem 0 0;
    font-weight: 300;
}

.practice .content:hover {
    background-color: rgb(220, 220, 220);
    transition: all 0.2s ease-in;
}

/* Mobile Practice */

@media only screen and (max-width: 680px) {

    .practice .left {
        display: none;
    }

    .practice .desktop {
        display: none;
    }

    .practice .mobile {
        display: block;
    }

    .practice .right {
        width: 100%;
    }

    .practice .content {
        flex-direction: column;
    }

    .practice .right .image-container {
        width: 90%;
        margin: 2rem;
    }
    
    .practice .right .text-container {
        width: 90%;
        margin: 0rem 2rem 1rem;
    }
}

/* Learning Section */

.learning {
    background-color: rgb(220, 220, 220);
}

.learning .title {
    padding-top: 2rem;
    text-align: center;
}

.learning .courses {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1.5rem;
    justify-content: center;
}

.learning .content {
    box-sizing: border-box;
    width: 29%;
    margin: 1rem;
    background-color: white;
}

.learning .text-container {
    padding: 1rem;
}

.learning h2 {
    font-size: 2rem;
}

.learning h4 {
    padding: 1rem 0rem 0.5rem;
}

/* Mobile Learning */

@media only screen and (max-width: 680px) {

    .learning {
        background-color: white;
    }
    
    .learning .image-container, .learning h4, .learning p {
        display: none;
    }

    .learning .courses {
        flex-direction: column;
        align-items: center;
    }

    .learning .text-container {
        background-color: rgb(220, 220, 220);
    }

    .learning .content {
        width: 90%;
        margin: 0.5rem;
    }

    .learning .text-container:hover {
        background-color: darkgray;
        transition: all 0.2s ease-in;
    }

}

/* Thesis Section */

.thesis .title {
    padding-top: 2rem;
    text-align: center;
}

.thesis .container {
    display: flex;
    justify-content: flex-start;
}

.thesis .left {
    width: 60%;
    margin: 2rem;
}

.thesis .right {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    margin-top: 1rem;
}

.thesis .content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.thesis .content .image-container {
    width: 35%;
    margin: 1rem;
}

.thesis .content .text-container {
    width: 65%;
    margin-right: 1.5rem;
}

.thesis h2 {
    font-size: 2rem;
}

.thesis blockquote {
    font-weight: 300;
    padding-bottom: 1.5rem;
}

.thesis .left h3 {
    padding: 1.5rem 0 0.5rem;
}

.thesis p {
    padding-top: 0.5rem;
}

.thesis .content:hover {
    background-color: rgb(220, 220, 220);
    transition: all 0.2s ease-in;
}

/* Mobile Thesis */

@media only screen and (max-width: 680px) {

    .thesis .right {
        display: none;
    }

    .thesis .text-container {
        display: none;
    }

    .thesis .left {
        width: 100%;
        margin: 0;
    }

    .thesis .title {
        padding: 0 0 2rem;
    }

    .thesis .video-container {
        padding-bottom: 3rem;
    }

}


/* Footer */

footer {
    margin-top: 3rem;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(220, 220, 220);
    font-family: 'Lato';
}

footer ul {
    display: flex;
    list-style: none;
}

footer li {
    padding-left: 1rem;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: #2098D1;
}

/* Hover - Rectangle Out - https://ianlunn.github.io/Hover/ */

.hvr-rectangle-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-rectangle-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
    color: white;
  }
  .hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }


 /* Hover - Underline From Center - https://ianlunn.github.io/Hover/ */
 /* Desktop Only */

 @media only screen and (min-width: 680px) {

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

}